.con,.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.con{
    margin: 3rem 1rem;
}
.notes-cards{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.heading{
    color: #7e22ce;
    margin-bottom: 3rem;
}
.card{
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px #7e22ce8f;
    padding: 1.5rem 3rem;
    border-radius: 2px 3rem;
    margin-bottom: 1.5rem;
}
.card img{
    width: 90px;
}
.card h1{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.card p{
    margin: 2px 0 5px 0;
    padding: 0;
}
.card .btn a{
    background-color: #7e22ce;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.1s ease-in;
}
.card .btn a:hover{
    background-color: rgb(55, 55, 55);
    color: white;
}
